<div class="primaryNavContainer">
  <div
    class="labels aboutMe"
    (click)="selected = 1"
    [ngClass]="{
      aboutNewPosition: transition,
      aboutMeSelected: selected == 1
    }"
  >
    <div class="innerContainer">
      ABOUT
    </div>
  </div>
  <div
    class="labels experience"
    (click)="selected = 2"
    [ngClass]="{
      experienceNewPosition: transition,
      experienceSelected: selected == 2
    }"
  >
    <div class="innerContainer">
      EXPERIENCE
    </div>
  </div>
  <div
    class="labels sideProj"
    (click)="selected = 3"
    [ngClass]="{
      projectNewPosition: transition,
      sideProjSelected: selected == 3
    }"
  >
    <div class="innerContainer">
      PROJECTS
    </div>
  </div>
  <div
    class="labels contact"
    (click)="selected = 4"
    [ngClass]="{
      contactNewPosition: transition,
      contactSelected: selected == 4
    }"
  >
    <div class="innerContainer">
      CONTACT
    </div>
  </div>
  <div class="navigationContainer">
    <app-about *ngIf="selected === 1"></app-about>
  </div>
</div>
