.aboutContainer {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  height: 95%;
  width: 95%;
  max-width: 850px;
  box-shadow: 0 0 10px #2ecc71ba;
  color: #2ecc71 !important;
}
