<div class="portfolioContainer" ngxViewer [viewerOptions]="viewerOptions">
  <div
    [ngClass]="{ scaleUp: animationIncrement > 1 }"
    class="screenshotCaption scaleDown"
  >
    Gradebook
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 2 }"
    src="../assets/screenshots/gradebook.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 3 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 4 }"
    class="screenshotCaption scaleDown"
  >
    Question Grader
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 5 }"
    src="../assets/screenshots/freeFormGrader.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 6 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 7 }"
    class="screenshotCaption scaleDown"
  >
    Grade Editor
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 8 }"
    src="../assets/screenshots/gradebookEdit.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 9 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 10 }"
    class="screenshotCaption scaleDown"
  >
    Assessment Container
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 11 }"
    src="../assets/screenshots/container.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 12 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 13 }"
    class="screenshotCaption scaleDown"
  >
    Assessment List
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 14 }"
    src="../assets/screenshots/assessmentList.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 15 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 16 }"
    class="screenshotCaption scaleDown"
  >
    Free Form Question Response
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 17 }"
    src="../assets/screenshots/freeFormResponse.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 18 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 19 }"
    class="screenshotCaption scaleDown"
  >
    Matching Question Type Builder
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 20 }"
    src="../assets/screenshots/questionBuilder.png"
    class="screenshot"
  />
  <hr [ngClass]="{ scaleUp: animationIncrement > 21 }" />
  <div
    [ngClass]="{ scaleUp: animationIncrement > 22 }"
    class="screenshotCaption scaleDown"
  >
    Clicker Question Presenter
  </div>
  <img
    [ngClass]="{ scaleUp: animationIncrement > 23 }"
    src="../assets/screenshots/clickerPresenter.png"
    class="screenshot"
  />
</div>
