.portfolioContainer {
  width: calc(100% - 20px);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e74c3c;
  border-radius: 5px;
  margin: 10px;
  min-height: 100%;
}

.screenshot {
  width: 40%;
  min-width: 200px;
  height: auto;
  margin: 20px 0;
}

.screenshotCaption {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

hr {
  width: 60%;
  border: 1px solid #e74c3c;
  margin: 20px 0;
  transform: scale(0);
  transition: all 2s ease-in-out;
}

/* ANIMATIONS */
.scaleUp {
  transform: scale(1) !important;
}

.scaleDown {
  transition: all 2s ease-in-out;
  transform: scale(0);
}

img {
  transform: scale(0);
  transition: all 2s ease-in-out;
}
