<div class="portfolioContainer" ngxViewer [viewerOptions]="viewerOptions">
  <div class="myGallery" [ngClass]="{ fadeIn: animationIncrement > 1 }">
    Welcome To My Gallery!
  </div>
  <div class="clickToMax" [ngClass]="{ fadeIn: animationIncrement > 1 }">
    (click to maximize)
  </div>
  <br />
  <br />
  <div
    class="screenshotContainer"
    *ngFor="let screenshot of screenshots; let index = index"
  >
    <img
      [ngClass]="{ scaleUp: animationIncrement > index }"
      [src]="screenshot.url"
      class="screenshot"
    />
    <div
      [ngClass]="{ fadeIn: animationIncrement > index }"
      class="screenshotCaption fadeOut"
    >
      {{ screenshot.caption }}
    </div>
    <hr
      *ngIf="index !== screenshots.length - 1"
      [ngClass]="{ fadeIn: animationIncrement > index }"
    />
  </div>
</div>
