<div class="expContainer">
  <div
    class="resumeDownload scaleDown"
    [ngClass]="{ scaleUp: animationIncrement > 1 }"
  >
    <a href="../assets/documents/resume.DOCX" download class="resumeLink">
      <img src="../assets/icons/save.svg" class="save" />
      <span class="resumeText">RESUME</span>
    </a>
  </div>

  <div class="skillsContainer">
    <div class="skills">
      <div
        class="skillsTitle scaleDown"
        [ngClass]="{ scaleUp: animationIncrement > 2 }"
      >
        TOP SKILLS
      </div>
      <ul class="skillsList">
        <li [ngClass]="{ scaleUp: animationIncrement > 4 }">Angular 2+</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 5 }">Typescript</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 6 }">Javascript</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 7 }">Node.js</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 8 }">MongoDB</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 9 }">NGXS</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 10 }">RxJS</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 11 }">Express.js</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 12 }">HTML 5</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 13 }">CSS</li>
      </ul>
    </div>
    <div class="skills">
      <div
        class="skillsTitle scaleDown"
        [ngClass]="{ scaleUp: animationIncrement > 14 }"
      >
        OTHER SKILLS
      </div>
      <ul class="skillsList">
        <li [ngClass]="{ scaleUp: animationIncrement > 16 }">React</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 17 }">React Native</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 18 }">Redux</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 19 }">Git</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 20 }">Linux</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 21 }">Windows</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 22 }">C#</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 23 }">Unity</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 24 }">AWS</li>
        <li [ngClass]="{ scaleUp: animationIncrement > 25 }">Jira</li>
      </ul>
    </div>
  </div>
  <div class="jobsContainer">
    <div class="jobs">
      <div
        class="jobsTitle scaleDown"
        [ngClass]="{ scaleUp: animationIncrement > 26 }"
      >
        JOBS
      </div>
      <ul class="jobsList">
        <li [ngClass]="{ scaleUp: animationIncrement > 28 }">
          Pathway Innovations And Technologies /Hovercam Inc. <br />- 1 years 4
          months <br />- Full Stack Software Engineer (MEAN)
        </li>
        <br />
        <li [ngClass]="{ scaleUp: animationIncrement > 30 }">
          Eturi/Parentsware Inc. <br />- 2 years 9 months <br />
          - Quality Assurance
        </li>
      </ul>
    </div>
  </div>

  <div class="jobsContainer">
    <div class="jobs">
      <div
        class="jobsTitle scaleDown"
        [ngClass]="{ scaleUp: animationIncrement > 32 }"
      >
        Projects
      </div>
      <ul class="jobsList">
        <li [ngClass]="{ scaleUp: animationIncrement > 34 }">
          San Diego State University Climbing Club App
          <br />- React Native (iOS and Android) <br />- MongoDB hosted on AWS
        </li>
        <br />
        <li [ngClass]="{ scaleUp: animationIncrement > 36 }">
          Adventures of Entropy Boy
          <br />- 2D side scroller <br />- Made with Unity (C#)
        </li>
      </ul>
    </div>
  </div>
</div>
