.aboutContainer {
  width: calc(100% - 20px);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2ecc71 !important;
  transition: all 2s;
  border-radius: 5px;
  margin: 10px;
}

.lightsOn {
  box-shadow: 0 0 15px #2ecc71ba;
}

.scaleUp {
  transform: scale(1) !important;
}

/* my name at the top */
.name {
  font-size: 40px;
  transform: scale(0);
  transition: all 2s;
}

/* about me text */
.bio {
  transition: all 2s;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  transform: scale(0);
}

.iam {
  transition: all 2s;
  text-align: center;
  font-size: 45px;
  margin-top: 10px;
  transform: scale(0);
}

/* icons */
.icons {
  margin: 15px 30px;
  height: 70px;
  transform: scale(0);
  transition: all 0.5s;
}

/* picture of myself */
.headshot {
  width: 200px;
}

.headshotContainer {
  margin-top: 20px;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  transform: scale(0);
}
