<div class="primaryNavContainer">
  <div
    class="labels aboutMe"
    (click)="onNavigate(1)"
    [ngClass]="{
      aboutNewPosition: transition,
      aboutMeSelected: selected == 1
    }"
  >
    <div class="innerContainer">
      ABOUT
    </div>
  </div>
  <div
    class="labels experience"
    (click)="onNavigate(2)"
    [ngClass]="{
      experienceNewPosition: transition,
      experienceSelected: selected == 2
    }"
  >
    <div class="innerContainer">
      EXPERIENCE
    </div>
  </div>
  <div
    class="labels sideProj"
    (click)="onNavigate(3)"
    [ngClass]="{
      projectNewPosition: transition,
      sideProjSelected: selected == 3
    }"
  >
    <div class="innerContainer">
      PORTFOLIO
    </div>
  </div>
  <div
    class="labels contact"
    (click)="onNavigate(4)"
    [ngClass]="{
      contactNewPosition: transition,
      contactSelected: selected == 4
    }"
  >
    <div class="innerContainer">
      CONTACT
    </div>
  </div>
  <div
    id="scrollContainer"
    class="navigationContainer"
    [ngClass]="{
      aboutOutline: selected == 1,
      expOutline: selected == 2,
      portfolioOutline: selected == 3,
      contactOutline: selected == 4
    }"
  >
    <app-about *ngIf="selected === 1"></app-about>
    <app-experience *ngIf="selected === 2"></app-experience>
    <app-portfolio *ngIf="selected === 3"></app-portfolio>
    <app-contact *ngIf="selected === 4"></app-contact>
  </div>
</div>
