<div class="aboutContainer">
  <div class="name" [ngClass]="{ scaleUp: animationIncrement > 1 }">
    Jackson Catozzi
  </div>
  <div
    class="headshotContainer"
    [ngClass]="{
      lightsOn: animationIncrement > 2,
      scaleUp: animationIncrement > 1
    }"
  >
    <img class="headshot" src="../assets/headshot.jpg" />
  </div>
  <div class="iam" [ngClass]="{ scaleUp: animationIncrement > 3 }">
    <br />
    I am...
    <br />
  </div>
  <div class="bio" [ngClass]="{ scaleUp: animationIncrement > 5 }">
    <br />
    ...a full stack software engineer focused primarily on web technologies.
    <br />
    <br />
  </div>
  <div class="bio" [ngClass]="{ scaleUp: animationIncrement > 7 }">
    ...proficient at building clean, user-friendly UI's.
    <br />
    <br />
    <img
      src="../assets/icons/angular.svg"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 8 }"
    />
    <img
      src="../assets/icons/html.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 9 }"
    />

    <img
      src="../assets/icons/css.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 10 }"
    />
    <img
      src="../assets/icons/react.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 11 }"
    />
  </div>
  <div class="bio" [ngClass]="{ scaleUp: animationIncrement > 12 }">
    <br />
    <br />
    ...experienced at building an effecient backend with an organized flow of
    data.
    <br />
    <br />
    <img
      src="../assets/icons/mongodb.jpg"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 14 }"
    />
    <img
      src="../assets/icons/nodejs.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 15 }"
    />
    <img
      src="../assets/icons/aws.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 16 }"
    />
    <img
      src="../assets/icons/rxjs.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 17 }"
    />
  </div>
  <div class="bio" [ngClass]="{ scaleUp: animationIncrement > 18 }">
    <br />
    <br />
    ...capable of managing a large application's complex state.
    <br />
    <br />
    <img
      src="../assets/icons/ngxs.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 20 }"
    />
    <img
      src="../assets/icons/redux.png"
      class="icons"
      [ngClass]="{ scaleUp: animationIncrement > 21 }"
    />
  </div>
</div>
