<div class="homeContainer" *ngIf="navigationMode === 'home'">
  <div class="blocks">
    <div
      class="aboutMe innerContainer"
      (mouseover)="fontColor = '#2ecc71'"
      (click)="toPrimaryNav(1)"
    >
      ABOUT
    </div>
  </div>
  <div class="blocks">
    <div
      class="experience innerContainer"
      (mouseover)="fontColor = '#f4d03f'"
      (click)="toPrimaryNav(2)"
    >
      EXPERIENCE
    </div>
  </div>
  <div class="blocks">
    <div
      class="sideProj innerContainer"
      (mouseover)="fontColor = '#e74c3c'"
      (click)="toPrimaryNav(3)"
    >
      PORTFOLIO
    </div>
  </div>
  <div class="blocks">
    <div
      class="contact innerContainer"
      (mouseover)="fontColor = '#2e86c1'"
      (click)="toPrimaryNav(4)"
    >
      CONTACT
    </div>
  </div>
  <div class="title" [ngStyle]="{ color: fontColor }">
    <div class="name">
      JACKSON CATOZZI
    </div>
    <div class="profession">
      SOFTWARE DEVELOPER
    </div>
  </div>
</div>

<app-primary-nav
  *ngIf="navigationMode === 'primary'"
  [toBeSelected]="selected"
></app-primary-nav>
